:root[data-theme="global"] {
  --Green-G200: rgb(171, 243, 43);
  --Blue-B200: rgb(65, 77, 79);
  --Green-G100: rgb(196, 247, 107);
  --Emard-E300: rgb(103, 192, 145);
  --Green-G400: rgb(108, 169, 0);
  --Blue-B300: rgb(26, 40, 43);
  --Blue-B500: rgb(16, 24, 26);
  --Blue-B50: rgb(232, 234, 234);
  --Black-B200: rgb(102, 102, 102);
  --Yellow-Y500: rgb(231, 208, 0);
  --Black-B60: rgb(176, 176, 176);
  --Black-B400: rgb(74, 74, 74);
  --Black-B0: rgb(255, 255, 255);
  --Black-B10: rgb(250, 250, 250);
  --Black-B100: rgb(117, 117, 117);
  --Black-B20: rgb(245, 245, 245);
  --Black-B30: rgb(235, 235, 235);
  --Black-B300: rgb(87, 87, 87);
  --Black-B40: rgb(222, 222, 222);
  --Black-B50: rgb(191, 191, 191);
  --Black-B500: rgb(59, 59, 59);
  --Black-B600: rgb(46, 46, 46);
  --Black-B70: rgb(163, 163, 163);
  --Black-B700: rgb(28, 28, 28);
  --Black-B80: rgb(148, 148, 148);
  --Black-B800: rgb(13, 13, 13);
  --Black-B90: rgb(133, 133, 133);
  --Black-B900: rgb(0, 0, 0);
  --Blue-B100: rgb(122, 130, 132);
  --Blue-B400: rgb(18, 28, 30);
  --Blue-B75: rgb(161, 167, 168);
  --Emard-E100: rgb(167, 218, 191);
  --Emard-E200: rgb(129, 203, 164);
  --Emard-E400: rgb(72, 134, 102);
  --Emard-E50: rgb(240, 249, 244);
  --Emard-E75: rgb(193, 229, 210);
  --Emard-G500: rgb(63, 117, 88);
  --Green-G300: rgb(154, 241, 0);
  --Green-G50: rgb(245, 254, 230);
  --Green-G500: rgb(94, 147, 0);
  --Green-G75: rgb(214, 249, 150);
}
:root[data-theme~="alias:alias"] {
  --Green-G200: rgb(171, 243, 43);
  --bg-accent-active: var(--Green-G200);
  --bg-accent-backcground: rgb(255, 255, 255);
  --Blue-B200: rgb(65, 77, 79);
  --bg-accent-decorate: var(--Blue-B200);
  --Green-G100: rgb(196, 247, 107);
  --bg-accent-hover: var(--Green-G100);
  --Emard-E300: rgb(103, 192, 145);
  --bg-accent-positive: var(--Emard-E300);
  --Green-G400: rgb(108, 169, 0);
  --bg-accent-visited: var(--Green-G400);
  --Blue-B300: rgb(26, 40, 43);
  --bg-surface-container: var(--Blue-B300);
  --Blue-B500: rgb(16, 24, 26);
  --bg-surface-main: var(--Blue-B500);
  --Blue-B50: rgb(232, 234, 234);
  --bg-surface-main-inverse: var(--Blue-B50);
  --bg-surface-tranparent: rgba(16, 24, 26, 0);
  --border-accent-active: var(--Green-G200);
  --border-accent-backcground: rgb(255, 255, 255);
  --border-accent-decorate: var(--Blue-B200);
  --border-accent-hover: var(--Green-G100);
  --border-accent-positive: var(--Emard-E300);
  --border-accent-visited: var(--Green-G400);
  --border-neutral-container: var(--Blue-B200);
  --brand-primary: var(--Green-G200);
  --Black-B200: rgb(102, 102, 102);
  --brand-Secondary: var(--Black-B200);
  --text-accent-active: var(--Green-G200);
  --text-accent-backcground: rgb(255, 255, 255);
  --text-accent-hover: var(--Green-G100);
  --text-accent-positive: var(--Emard-E300);
  --text-accent-visited: var(--Green-G400);
  --Yellow-Y500: rgb(231, 208, 0);
  --text-accent-warnning: var(--Yellow-Y500);
  --Black-B60: rgb(176, 176, 176);
  --text-neutral-body: var(--Black-B60);
  --Black-B400: rgb(74, 74, 74);
  --text-neutral-decoration: var(--Black-B400);
  --Black-B0: rgb(255, 255, 255);
  --text-neutral-heading: var(--Black-B0);
  --text-neutral-icon: var(--Black-B0);
  --Black-B10: rgb(250, 250, 250);
  --text-neutral-label: var(--Black-B10);
  --text-neutral-white: var(--Black-B0);
}
:root[data-theme~="measurement:measurement"] {
  --demention-3: 16px;
  --radius-3: var(--demention-3);
  --demention-7: 48px;
  --demention-2: 8px;
  --pt-2: var(--demention-2);
  --px-3: var(--demention-3);
  --py-3: var(--demention-3);
  --demention-5: 32px;
  --py-2: var(--demention-2);
  --demention-1: 4px;
  --demention-4: 24px;
  --demention-6: 40px;
  --pb-1: var(--demention-1);
  --pb-2: var(--demention-2);
  --pb-3: var(--demention-3);
  --pb-4: var(--demention-4);
  --pt-1: var(--demention-1);
  --pt-3: var(--demention-3);
  --pt-4: var(--demention-4);
  --px-1: var(--demention-1);
  --px-2: var(--demention-2);
  --px-4: var(--demention-4);
  --py-1: var(--demention-1);
  --py-4: var(--demention-4);
  --radius-1: var(--demention-1);
  --radius-2: var(--demention-2);
  --radius-4: var(--demention-4);
}
:root[data-theme~="component:component"] {
  --bg-accent-active: rgb(171, 243, 43);
  --button-bg-primary: var(--bg-accent-active);
  --bg-accent-hover: rgb(196, 247, 107);
  --button-bg-primary-hover: var(--bg-accent-hover);
  --radius-3: 16px;
  --button-demention-b-radius: var(--radius-3);
  --demention-7: 48px;
  --button-demention-height: var(--demention-7);
  --pt-2: 8px;
  --button-demention-pb: var(--pt-2);
  --button-demention-pt: var(--pt-2);
  --px-3: 16px;
  --button-demention-px: var(--px-3);
  --py-3: 16px;
  --button-demention-py: var(--py-3);
  --text-neutral-decoration: rgb(74, 74, 74);
  --button-text-primary: var(--text-neutral-decoration);
  --bg-surface-tranparent: rgba(16, 24, 26, 0);
  --nav-bg-fixed: var(--bg-surface-tranparent);
  --nav-demention-py: var(--py-3);
  --text-accent-active: rgb(171, 243, 43);
  --nav-text-active: var(--text-accent-active);
  --text-neutral-body: rgb(176, 176, 176);
  --nav-text-default: var(--text-neutral-body);
  --bg-accent-decorate: rgb(65, 77, 79);
  --tab-bg-active: var(--bg-accent-decorate);
  --tab-bg-default: var(--bg-surface-tranparent);
  --demention-5: 32px;
  --tab-demention-height: var(--demention-5);
  --tab-demention-px: var(--py-3);
  --py-2: 8px;
  --tab-demention-py: var(--py-2);
  --text-neutral-white: rgb(255, 255, 255);
  --tab-text-active: var(--text-neutral-white);
  --tab-text-default: var(--text-neutral-body);
}

html{
  background-color: var(--bg-surface-main);
  border-radius: 0 ;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
p{
  color: var(--text-neutral-body);
}
a{
  color: var(--nav-text-default);
  text-decoration: none;
}
a:hover{    
  color: var(--text-accent-hover);
  transition: ease-in 0.2;
}
.a-active{
  color: var(--nav-text-active);
}
.nav {
  display: flex;
  width: 100%;
  padding: var(--nav-demention-py);
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(3px);
  margin-bottom: 24px;
}
.nav-item{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 80px;
}
.btnPrimary{
  display: flex;
  padding:var(--button-demention-px);
  border-radius: var(--button-demention-b-radius);
  background-color:var(--button-bg-primary);
  justify-content: center;
  align-items: center;
  height: 48px;
  border: none;
  color:var(--button-text-primary)
}
.btnPrimary:hover{
  background-color: var(--button-bg-primary-hover);
  cursor: pointer;
}



.social{
  display: flex;
  align-items: center;
  gap: 16px;
}

.tab-group{
  display: flex;
}

.tab{
    display: flex;
    height: var(--tab-demention-height);
    overflow: hidden;
    padding: var(--tab-demention-py) var(--tab-demention-px);
    border-radius: 8px;
    background: var(--tab-bg-default);
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--tab-text-default);
    border: none;
}
.chart{
  display: flex;
  width: 674px;
  padding: var(--py-4, 24px) var(--px-4, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: var(--radius-3, 16px);
  border: 1px solid var(--border-neutral-container, #414D4F);
  background: var(--bg-surface-container, #1A282B); 
} 
.top{
    display: flex;
    align-items: flex-start;
    height: 24px;
    
}
.decorate-footer{
  display: flex;
  justify-content: space-between;
}

.page{
  margin: 0px;
  background-image:url("tree.png");
  background-repeat: no-repeat;
  height: 100vh;
}


.footer{
  width: 100%;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 09000;
    display: flex;
    justify-content: space-between;
}

.img-decorate{
  z-index: -10;
}