
@import url(./test.css);

html{
  background-color: var(--bg-surface-main);
  border-radius: 0 ;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}


p{
  color: var(--text-neutral-body);
}
a{
  color: var(--nav-text-default);
  text-decoration: none;
}
a:hover{    
  color: var(--text-accent-hover);
  transition: ease-in 0.2;
}
.a-active{
  color: var(--nav-text-active);
}
.nav {
  display: flex;
  width: 100%;
  padding: var(--nav-demention-py);
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(3px);
  margin-bottom: 24px;
}
.nav-item{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 80px;
}
.btnPrimary{
  display: flex;
  padding:var(--button-demention-px);
  border-radius: var(--button-demention-b-radius);
  background-color:var(--button-bg-primary);
  justify-content: center;
  align-items: center;
  height: 48px;
  border: none;
  color:var(--button-text-primary)
}
.btnPrimary:hover{
  background-color: var(--button-bg-primary-hover);
  cursor: pointer;
}



.social{
  display: flex;
  align-items: center;
  gap: 16px;
}

.tab-group{
  display: flex;
}

.tab{
    display: flex;
    height: var(--tab-demention-height);
    overflow: hidden;
    padding: var(--tab-demention-py) var(--tab-demention-px);
    border-radius: 8px;
    background: var(--tab-bg-default);
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--tab-text-default);
    border: none;
}
.content{
  display: flex;
  gap: 32px;
  height: 60vh;
  max-height: 620px;
} 
.chart{
  z-index: 100;
  width: 674px;
  padding: var(--py-4) var(--px-4);
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: var(--radius-3);
  border: 1px solid var(--border-neutral-container);
  background: var(--bg-surface-container); 
} 

.swap{
  z-index: 100;
  width: 400px;
  min-width: 320px;
  max-width: 500px;
  padding: var(--py-4) var(--px-4);
  border-radius: var(--radius-3);
  border: 1px solid var(--border-neutral-container);
  background: var(--bg-surface-container); 

}
.decorate-footer{
  display: flex;
  justify-content: space-between;
}

.page{
  margin: 0px;
  background-image:url("tree.png");
  background-repeat: no-repeat;
  height: 100vh;
}


.footer{
  width: 100%;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}


.action{
  display: flex;
  align-items: center;
  gap: 24px;
}


/* toogle to change theme */
.toggle {
  background-color:var(--bg-surface-container);
  color: var(--text-neutral-body);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  display: none;
  color: var(--text-neutral-body);
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}